
.main.container{
    background:  rgb(243, 241, 241);
    border-radius: 2rem;
  }
  input{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7); 
    outline: none; 
    
  }
  input::placeholder{
    color: black
  }
  
  .search{
    outline: red;
    border: none;
  }
a i{
    color: black;
  }

  a i:hover{
    color: sienna;
  }
  select:disabled{
    background: none; 
    border: none; 
  }
