<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Cadastro Funcionários </title>
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-between align-items-center py-2 mb-1 border-bottom">
      <div class="d-flex align-items-center">
        <a href="/" class="d-flex align-items-center mb-md-3 text-dark text-decoration-none">
          <img src="/imagens/logo.png" class="mt-3" width="100">
        </a>
        <ul class="nav me-auto d-flex p-4">
          <li><a href="/clientes" class="nav-link px-2 link-dark"> Clientes </a></li>
          <li class="nav-link px-2 link-secondary"> Funcionários </li>
          <li><a href="/veiculos" class="nav-link px-2 link-dark"> Veículos </a></li>
          <li><a href="/ods" class="nav-link px-2 link-dark"> Ordem de serviço </a></li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-outline-dark me-2" onclick="window.location.href='/login'"> Logar </button>
        <button type="button" class="btn btn-dark" onclick="window.location.href='/register'"> Cadastre-se </button>
      </div>
    </header>
  </div>
  <div class="b-example-divider"></div>

  <div class="d-flex justify-content-center align-items-center mb-3 pt-3">
    <a href="/funcBusca"> <i class="bi bi-search me-5 ms-5 pt-2"> </i> </a>
    <h1 class="m-2 px-5"> Cadastro de Funcionários </h1>
    <div class="group-icon d-flex ms-5 pt-2">
      <a href="/funcBusca"> <i class="bi bi-trash me-3"> </i> </a>
        <a href="/funcBusca"> <i class="bi bi-pencil-square me-3"></i> </a>
          <a href="/funcBusca"><i class="bi bi-plus-circle"></i> </a>
    </div>
  </div>
  </div>
  </div>

  </div>

  <form action="/save" method="post">
  <div class="main container d-flex justify-content-center align-items-center w-50">
    <div class="row m-4">
      <!-- coluna esquerda -->
      <div class="col-md-6 pt-1">
        <input placeholder="Matrícula" name="funcMatricula" type="text" class="container m-4 p-3 bg-transparent w-75" required>
         <input placeholder="Nome Completo" name="funcNome" type="text" class="container p-3 m-4 bg-transparent w-75">
        <label class="mb-1 p-4 pt-1 pb-1"> Departamento: </label>
        <select class="form-select btn-outline-light m-2" name="funcDepto">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input placeholder="Salário" name="funcSalario" type="text" class="container p-3 m-4 bg-transparent w-75">
        
      </div>

      <!-- coluna direita -->
    <div class="col mx-3">
        <input placeholder="Data de Admissão" name="funcAdmissao" class="container p-3 m-4 bg-transparent w-75" type="text"
        onfocus="(this.type='date')" onblur="(this.type='text')">
        <label class="mb-1 p-4 pt-1 pb-1"> Quantidade de Filhos: </label>
        <select class="form-select btn-outline-light m-2" name="funcFilho">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label class="mb-2 p-4 pt-3 pb-1"> Gênero: </label>
        <select  class="form-select btn-outline-light m-2" name="funcSexo">
          <option value="m">Masculino</option>
          <option value="f">Feminino</option>
          <option value="o">Outro</option>
        </select>
        <label class="form-label p-4 mb-1 pt-3 pb-1 font-weight-bolder text-dark"> Ativo </label>
        <div class="d-flex flex-wrap pb-3" >
          <label class="m-2"> Sim <input type="radio" name="funcAtivo" value="1"></label>
          <label class="m-2"> Não <input type="radio" name="funcAtivo" value="0"></label> 
         </div> 
      </div>
      <div class="d-flex justify-content-center m-5">
        <button class="rounded-pill btn btn-outline-dark me-5 mx-1  w-25"> Cancelar </button>
        <button class="rounded-pill btn btn-outline-dark ms-5 mx-5 w-25" type="submit"> Salvar </button>
      </div>
    </div>
</div>
  </form> 


  </div>




  <script src="js\script.js"> </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html> 