<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Cadastro - BQlocadora</title>
</head>
<body>
    <form action="/register" method="post">
        <div>
            <p>
                <label for="username"> Usuário / e-mail </label><br>
                <input class="login" type="text" name="usuarioLogin">
            </p>
            <p>
                <label for="password">Senha </label><br>
                <input class="senha" type="password" name="usuarioSenha" required>
            </p>
            <p>
                <button type="submit">Cadastrar</button>
            </p>
        </div>
    </form>
</body>
</html>

