<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\views\public\styles\login.css"> <!-- Importando o CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <title>Login</title> <!-- Título da página -->
</head>
<body>
    <script src="\views\public\js\login.js"></script> <!-- Importando o JS -->

    <header class="cabecalho"> <!-- Header -->
    <div> <!-- Div para a logo -->
        <img src="\assets\imagens\logo.png" class="logo"> 
    </div>
 
    <div class="titulo">  <!-- Div para o titulo/slogan -->
        <h1 class="fonte">Mobilidade sem limites </h1>
        <h1 class="fonte">Para onde e quando você quiser!</h1>
    </div>
    </header>

    <div class = meio> <!-- Div para o meio da página -->
        <form class="formulario" id="form"> <!-- formulário -->
            <div class="divlogin"> <!-- Div do login -->
                <h1 class="h1login">Login</h1>
                <p>
                    <label for="login">Login:</label><br> <!-- Label para o  input login -->
                    <input class="login" type="text" id="login" name="login"> <!-- input login -->
                </p>
                <p>
                    <label for="senha">Senha:</label><br> <!-- Label para o input senha -->
                    <input class="senha" type="password" id="senha" name="senha"> <!-- input senha -->
                </p>
                <p>
                    <div class="divbotao"> <!-- Div para os botões -->
                        <button type="button" class="login" onclick="login()">LOGIN</button> <!-- Botão de login -->
                        <button type="button" class="fechar" onclick="fechar()">FECHAR</button> <!-- Botão de fechar a página -->
                    </div>
                </p>
            </div>
        </form>

    <div class="divalugue"> <!-- Div para imagem de alugue já -->
        <img src="\assets\imagens\alugue.png" class="alugue">
    </div>
</div>
</body>
</html>